<div id="contact-page">
  <nb-card id="contact-card" [formGroup]="contactFormGroup">
    <nb-card-body>
      <h3>Me Contacter</h3>
      <div id="contact-form">
        <div class="input-div">
          <label class="label">Nom Prénom <span class="text-danger">*</span></label>
          <input nbInput type="text" formControlName="name" [formValidation]="contactFormGroup.get('name')" fullWidth>
        </div>
        <div class="input-div">
          <label class="label">Adresse email <span class="text-danger">*</span></label>
          <input nbInput type="text" formControlName="email" [formValidation]="contactFormGroup.get('email')" fullWidth>
        </div>
        <div class="input-div">
          <label class="label">Message <span class="text-danger">*</span></label>
          <textarea nbInput type="text" formControlName="message" [formValidation]="contactFormGroup.get('message')"
            fullWidth>
            </textarea>
        </div>
      </div>
      <button nbButton status="primary" shape="round" [formSubmitValidation]="contactFormGroup"
        (formSubmitValid)="submitContact()">
        Envoyer
      </button>
    </nb-card-body>
  </nb-card>
</div>
