@import '../../../../../libs/theme/src/lib/theme';

@include nb-install-component {

  span {
    color: nb-theme(color-primary-900);
  }
}

router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}
