<div id="footer">
  <div class="d-flex flex-row justify-content-between align-items-center">
    <span>Créé par Théo Canonne</span>
    <div>
      <button nbButton ghost size="small" (click)='socialMediasService.openGithubLink()'>
        <nb-icon icon="github-outline"></nb-icon>
      </button>
      <button nbButton ghost size="small" (click)='socialMediasService.openLinkedinLink()'>
        <nb-icon icon="linkedin-outline"></nb-icon>
      </button>
    </div>
    <span>Réalisé avec Angular</span>
  </div>
</div>
