@import '../../../../../../../libs/theme/src/lib/theme';

@include nb-install-component {

  .row {
    margin: 0;
  }

  #footer {
    background-color: nb-theme(color-primary-900);
    color: nb-theme(header-text-color);
    height: 100%;
    width: 100%;
    padding: 10px;
  }
}
