<div id="footer">
  <div class="row menu-section">
    <div class="col-md-3 offset-md-1 col-xs-12">
      <h2>Menu</h2>
      <ul class="menu-list">
        <li routerLink="/">Accueil</li>
        <li routerLink="/a-propos">A Propos</li>
        <li routerLink="/contact">Contact</li>
      </ul>
    </div>
    <div class="col-md-4 col-xs-12">
      <h2>Me joindre</h2>
      <ul class="contact-list">
        <li>
          <nb-icon icon="email-outline"></nb-icon>
          theo.canonne99@laposte.net
        </li>
        <li>
          <nb-icon icon="home-outline"></nb-icon>
          10 rue des eaux, 59700, Marcq-En-Baroeul
        </li>
        <li>
          <nb-icon icon="phone-outline"></nb-icon>
          0750359597
        </li>
      </ul>
    </div>
    <div class="col-md-3 col-xs-12 d-flex justify-content-center align-items-center">
      <h2>Merci de votre visite !</h2>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-between align-items-center creds">
    <span>Créé par Théo Canonne</span>
    <span>ico</span>
    <span>Réalisé avec Angular</span>
  </div>
</div>
