@import '../../../../../../../../libs/theme/src/lib/theme';

@keyframes animateWave {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

@include nb-install-component {
  .home-svg-background {
    position: relative;
    background: nb-theme(color-primary-500);
    color: #fff;
    text-align: center;
    overflow: hidden;
    padding-top: 7vh;
  }
  svg {
    fill: nb-theme(color-primary-500);
    display: block;
    transform-origin: top;
    animation: animateWave 2000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
  }

  .home-section-content {
    width: 80%;
    margin: auto;
    padding-top: 1em;
  }

  .home-section {
    margin-bottom: 3em;
  }


}
