@import '../../../libs/theme/src/lib/theme';
@import '~@nebular/theme/styles/globals';
@import './app/styles/button';

@include nb-install() {
  @include nb-theme-global();
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

swiper {
  --swiper-theme-color: var(--color-primary-400) !important;
}
button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.primary-background {
  background-color: nb-theme(color-primary-500);
}

swiper > .swiper.s-wrapper {
  height: auto !important;
  width: auto !important;
}

portfolio-main-title {
  width: 100%;
}

button {
  touch-action: manipulation;
}
