@import '../../../../../../../libs/theme/src/lib/theme';

@include nb-install-component {
  #header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      color: nb-theme(header-text-color);
      font-size: 2em;
      text-decoration: unset;
      white-space: nowrap;
    }

    .link-list {
      display: flex;
      gap: 1rem;

      .btn {
        background-color: transparent;
        border-color: transparent;
      }

      .active-button {
        color: var(--button-filled-primary-hover-background-color);
      }
    }
  }
}
