<div id="header" class="d-flex flex-row justify-content-between align-items-center">
  <h3>Developpeur Web</h3>
  <div *ngIf="!(needMenu$ | async)">
    <button nbButton ghost  routerLink="/" routerLinkActive="active-button">
      Accueil
    </button>
    <button nbButton ghost routerLink="/a-propos" routerLinkActive="active-button">
      A propos
    </button>
    <button nbButton ghost routerLink="/contact" routerLinkActive="active-button">
      Contact
    </button>
  </div>
  <div *ngIf="needMenu$ | async">
    <button nbButton ghost size="giant" (click)='breakpointsService.toggleSidebar()'>
      <nb-icon icon="menu-outline" ></nb-icon>
    </button>
  </div>
</div>
