<div class="row info-part">
  <div class="col-md-4 col-xs-12 mobile-margin-col">
    <nb-card>
      <nb-card-body class="row">
        <div class="col-3 d-flex justify-content-center align-items-center">
          <nb-icon icon="email-outline"></nb-icon>
        </div>
        <div class="col-9 d-flex align-items-center">
          <span>contact@tc-dev.tech</span>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-4 col-xs-12 mobile-margin-col">
    <nb-card>
      <nb-card-body class="row">
        <div class="col-3 d-flex justify-content-center align-items-center">
          <nb-icon icon="home-outline"></nb-icon>
        </div>
        <div class="col-9 d-flex align-items-center">
          <span>10 rue des eaux, 59700, Marcq-En-Baroeul</span>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-4 col-xs-12 mobile-margin-col">
    <nb-card>
      <nb-card-body class="row">
        <div class="col-3 d-flex justify-content-center align-items-center">
          <nb-icon icon="phone-outline"></nb-icon>
        </div>
        <div class="col-9 d-flex align-items-center">
          <span>07.50.35.95.97</span>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-md-3 offset-md-2 col-xs-12 d-flex justify-content-center mobile-margin-col">
    <button nbButton status="primary">Mon CV</button>
  </div>
  <div class="col-md-3 offset-md-2 col-xs-12 d-flex justify-content-center">
    <button nbButton status="primary" routerLink="/contact">Me Contacter</button>
  </div>
</div>
