@import '../../../../../../../../libs/theme/src/lib/theme';

@include nb-install-component {

  nb-card {
    margin-bottom: 0px;
    height: 100%;
    min-height: 50px;
    background-color: nb-theme(color-primary-500);
    border: none;
    box-shadow: nb-theme(shadow);
  }

  span, nb-icon{
    color: nb-theme(header-text-color);
  }
}

nb-icon {
  font-size: 30px;
}

.info-part {
  margin-bottom: 1em;
}
