<div class="info-part">
  <div class="info-item">
    <nb-card>
      <nb-card-body class="card-info">
        <nb-icon icon="email-outline"></nb-icon>
        <div class="col-9 d-flex align-items-center">
          <span>contact@tc-dev.tech</span>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="info-item">
    <nb-card>
      <nb-card-body class="card-info">
        <nb-icon icon="home-outline"></nb-icon>
        <div class="col-9 d-flex align-items-center">
          <span>10 rue des eaux, 59700, Marcq-En-Baroeul</span>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="info-item">
    <nb-card>
      <nb-card-body class="card-info">
        <nb-icon icon="phone-outline"></nb-icon>
        <div class="col-9 d-flex align-items-center">
          <span>07.50.35.95.97</span>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
