@import '../../../../../../../../libs/theme/src/lib/theme';

@include nb-install-component {
  #my-light-profil {
    height: 100%;
    display: flex;
    flex-wrap: wrap;

    .image-container {
      flex: 1 1 30%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .informations {
      flex: 1 1 70%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #profil-picture {
      border-radius: 50%;
      width: 50%;
      min-width: 200px;
      max-width: 300px;
    }

    .personnal-description-section {
      width: 90%;
      * {
        color: nb-theme(header-text-color);
      }
      h1 {
        text-align: center;
        text-transform: uppercase;
      }
      p {
        word-break: break-word;
        font-size: 1.1em;
      }
    }
  }
}
