<div class="row" id="my-light-profil">
  <div class="image-container">
    <img id="profil-picture" src="../../../../../assets/images/profil-picture.jpg">
  </div>
  <div class="informations">
    <div class="personnal-description-section">
      <h1>Théo Canonne</h1>
      <p>
        Attiré par le développement Front-End et l'envie de découvrir l'indépendance de la Freelance, je me ferais un
        plaisir de discuter avec vous autour de vos idées innovantes ;) <br><br>

        Je suis ouvert à des missions Freelance, et j'espère bientôt pouvoir vous apporter mes compétences dans
        l'élaboration de vos projets !
      </p>
      <div>
        <button nbButton ghost size="giant" (click)='socialMediasService.openGithubLink()'>
          <nb-icon icon="github-outline"></nb-icon>
        </button>
        <button nbButton ghost size="giant" (click)='socialMediasService.openLinkedinLink()'>
          <nb-icon icon="linkedin-outline"></nb-icon>
        </button>
      </div>
    </div>
  </div>
</div>
