<div class="row" id="my-light-profil">
  <div class="col-md-4 col-xs-12 d-flex justify-content-center align-items-center">
    <img id="profil-picture" src="../../../../../assets/images/profil-picture.jpg">
  </div>
  <div class="col-md-8 col-xs-12  d-flex justify-content-center align-items-center">
    <div class="personnal-description-section d-flex flex-column justify-content-center align-items-center">
      <h1>Théo Canonne</h1>
      <p>
        Fort et créatif de 2 ans d'expérience, <br>
        Je suis à la recherche d'un emploi dans le developpement web fullstack Angular et NodeJS.
      </p>
      <div class="col-md-6 col-xs-12">
        <button nbButton ghost size="giant">
          <nb-icon icon="github-outline"></nb-icon>
        </button>
        <button nbButton ghost size="giant">
          <nb-icon icon="linkedin-outline"></nb-icon>
        </button>
      </div>
    </div>
  </div>
</div>
