@import '../../../../../../../../libs/theme/src/lib/theme';

@include nb-install-component {
  .resume-place {
    color: nb-theme(color-warning-600);
    font-weight: 600;
  }

  ul {
    margin-left: 1rem;

    li {
      margin-left: 1rem;
    }
  }

  .translucent-card {
    backdrop-filter: blur(5px);
    background-color: #ffffffd0;
    box-shadow: var(--shadow);
    border: 1px solid nb-theme(card-border-color);
    border-radius: 10px;
    padding: 2rem;
  }
}
.whoami-part {
  min-height: 20px;
}

.experiences {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template:
    'first second' 1fr
    'first third' 1fr / 1fr 1fr;
  gap: 1rem;
}


.link-button {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

.first {
  grid-area: first;
}

portfolio-card-resume {
  height: 100%;
}

.skills-part {
  display: flex;
  margin-bottom: 3rem;

  .skills {
    display: flex;
    flex-direction: column;
    justify-self: start;
    align-items: center;
    flex: 1 1 100%;
  }


}
